.stock-tracker__heading {
  text-align: center;
}

.stock-tracker__main__list {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-inline-start: 40px;
}
